<div class="group rounded-lg border">
  <a href="#" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
      <img [src]="product.images[0]" [alt]="product.title" class="h-full w-full object-cover object-center group-hover:opacity-60">
  </a>
  <div class="flex flex-col space-y-2 p-4">
    <div class="grid grid-cols-2 gap-10">
      <span class="text-lg text-gray-700">{{ product.title }}</span>
      <span class="text-lg text-end font-medium text-gray-700">{{ product.price }} €</span>
    </div>
    <p class="text-xs font-medium text-gray-500">Added : ===> {{ product.createAt }}</p>
    <button class="text-black bg-gray-100 shadow-md font-medium rounded-md text-sm px-5 py-2.5 w-full"
      (click)="addToCartHandler()">Add to cart
    </button>
  </div>
</div>
