<div class="container m-5">
  <!-- <app-header [cart]="cart()"/> -->
  <!-- <app-header /> -->

  <div>
    <button type="button" class="text-blue-500 hover:text-white border border-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-xs px-2 py-1 text-center inline-flex items-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-600"
        routerLink="/"
      >
      <img class="w-8 h-8 rounded-full me-2 -ms-1" src="./assets/smile.jpeg" alt="smile">

        All
    </button>
    @for (category of categories(); track $index) {
      <button type="button" class="text-blue-500 hover:text-white border border-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md text-xs px-2 py-1 text-center inline-flex items-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-600"
        routerLink="/" [queryParams]="{category_id: category.id}"
      >
      <img class="w-8 h-8 rounded-full me-2 -ms-1" [src]="category.image" [alt]="category.name">

        {{ category.name }}
      </button>
    }
  </div>

  <div class="grid grid-cols-4 gap-6 mt-2">
    @for (product of products(); track $index) {
    <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>

</div>
